<a href="/create"><button>Create</button></a>

<div class="toolbar">
    <a {{#ifEquals sortBy "finish"}}class="selected" href="/?sortBy=finish&order={{order}}"
        {{else}}href="/?sortBy=finish&order=ascending"{{/ifEquals}}><button>By finish date</button></a>
    <a {{#ifEquals sortBy "created"}}class="selected" href="/?sortBy=created&order={{order}}"
        {{else}}href="/?sortBy=created&order=ascending"{{/ifEquals}}><button>By created date</button></a>
    <a {{#ifEquals sortBy "importance"}}class="selected" href="/?sortBy=importance&order={{order}}"
        {{else}}href="/?sortBy=importance&order=ascending"{{/ifEquals}}><button>By importance</button></a>
</div>

<a {{#ifEquals theme "dark"}}href="/?theme=light"{{else}}href="/?theme=dark"{{/ifEquals}}><button>Theme</button></a>
<a {{#if showFinished}}href="/?showFinished=false"{{else}}href="/?showFinished=true"{{/if}}><button>Show finished</button></a>
{{#each notes}}
<span class="note-row">        
    <p class="dueDate">{{dueDate}}</p>
    <h1 class="title">{{title}}</h1>
    <p class="importance">{{#times importance}}★{{/times}}</p>
    <span class="finished"><input type="checkbox" disabled {{#if finished}}checked{{/if}}> finished</span>
    <textarea class="description" disabled>{{description}}</textarea>
    <a class="edit-input" href="/edit/{{_id}}"><button>Edit</button></a>
</span>
{{/each}}