<div class="menu">
    <a href="/create" class="new-item">Create</a>

    <div class="toolbar">
        <a {{#ifEquals sortBy "finish"}} href="/?sortBy=finish&order={{order}}"
            {{else}}href="/?sortBy=finish&order=ascending"{{/ifEquals}}>By finish date</a>
        <a {{#ifEquals sortBy "created"}} href="/?sortBy=created&order={{order}}"
            {{else}}href="/?sortBy=created&order=ascending"{{/ifEquals}}>By created date</a>
        <a {{#ifEquals sortBy "importance"}} href="/?sortBy=importance&order={{order}}"
            {{else}}href="/?sortBy=importance&order=ascending"{{/ifEquals}}>By importance</a>
    </div>

    <a class="theme-switcher" {{#ifEquals theme "dark"}}href="/?theme=light"{{else}}href="/?theme=dark"{{/ifEquals}}>Theme</a>
    <a class="show-finished" {{#if showFinished}}href="/?showFinished=false"{{else}}href="/?showFinished=true"{{/if}}>Show finished</a>
</div>
{{#each notes}}
<div class="note-row">
    <p class="due-date">{{dueDate}}</p>
    <h1 class="title">{{title}}</h1>
    <p class="importance">{{#times importance}}★{{/times}}</p>
    <span class="finished"><input type="checkbox" disabled {{#if finished}}checked{{/if}}> finished</span>
    <textarea class="description" disabled>{{description}}</textarea>
    <a class="edit-input" href="/edit/{{_id}}">Edit</a>
</div>
{{/each}}